*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
header{
    background: rebeccapurple;
    color: lightblue;
}
body{
    background: black;
    color: white;
}