#about{
    max-width: 100%;
    background: var(--bg1 )fixed no-repeat;
    background-size:cover;
    min-height:100vh;
    padding: 2em 10%;
    text-align: center;
  }
  #about p, #about h2, #about h3{
    margin: 1.1em;
  }
  #about figure{
    background: var(--darkGlass);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    backdrop-filter: blur(15px);
    padding: 1em;
    box-shadow: white 0 0 100px;
  }
  #about img{
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    max-width: 30%;
  }